h1{
  font-size: 4rem;
  font-family: fantasy;
  text-align: center;
}
table {
  margin: auto;
}
td {
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
  

}
td:hover {
  background-color: lightgray;
}
#turn {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
#winner {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
